body {
    font-family: Helvetica Neue,Helvetica;
    margin: 0px;
    padding: 0px;
}

header {
    padding: 20px;
}

section {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

div {
    background: red;
    margin: auto;
}

ul {
    margin: 0px;
    patting: 0px;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
}

footer {
    padding: 10px 20px;
}
