<nav>
	<div class="leading">
		<a href="/">Andrius Shiaulis</a>
	</div>

	<div class="trailing">
		<a href="http://github.com/shiaulis" target="_blank" rel="noopener noreferrer">
			<i class="fa-brands fa-github"></i>
			<span>Github</span>
		</a>

		<a href="http://linkedin.com/in/shiaulis/" target="_blank" rel="noopener noreferrer">
			<i class="fa-brands fa-linkedin"></i>
			<span>Linkedin</span>
		</a>

		<a href="mailto:andrius@telbin.dev" rel="noopener noreferrer">
			<i class="fa-solid fa-envelope"></i>
			<span>Email</span>
		</a>
	</div>
</nav>
