<nav>
	<div class="nav-left">
		<a href="/" class="nav-brand">Andrius Shiaulis</a>
		<a href="/blog" class="nav-link">Blog</a>
	</div>

	<div class="nav-right">
		<a href="http://github.com/shiaulis" target="_blank" rel="noopener noreferrer" class="social-link" aria-label="GitHub">
			<i class="fa-brands fa-github"></i>
		</a>

		<a href="http://linkedin.com/in/shiaulis/" target="_blank" rel="noopener noreferrer" class="social-link" aria-label="LinkedIn">
			<i class="fa-brands fa-linkedin"></i>
		</a>

		<a href="mailto:andrius@telbin.dev" rel="noopener noreferrer" class="social-link" aria-label="Email">
			<i class="fa-solid fa-envelope"></i>
		</a>
	</div>
</nav>
